@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
:root{
  --primary: #222D41;
  --secondary: #202B45;
  --tertiary: #383544;
  --rust: #A8522F;
  --oxford: #19233B;
}

* {
  box-sizing: border-box;
  
}

html,
body {
  min-height: 100%;
  background-color: var(--primary)
}

.myDiv{
  background-color: var(--primary)
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--primary);
  color: var(--rust);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  background-color: var(--primary);
  margin-top: 20px;
}
nav {
  background-color: var(--secondary);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-image: url("./assets/images/silent-planet.jpg");
  background-size: cover;
  background-position: center;
  height: 75px;
}


#about-section {
  background-color: var(--secondary);
  padding-top: 12px;
  padding: 0px;

}

#about-me-title{
  background-image: url("./assets/images/silent-planet-astronaut-crop.jpg");
  background-size: cover;
  background-position: center;
  height: 75px;
  width: 100%
}

#about-section-text{
  margin-top: 6px;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
}

.portfolio{
  padding: 0px;
}

#portfolio-title{
  background-image: url("./assets/images/silent-planet-trees-crop.jpg");
  background-size: cover;
  background-position: center;
  height: 75px;
  width: 100%;
  padding: 0px;
}

form {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--rust);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  border: 4px solid var(--rust);
  background-color: var(--tertiary)
}

footer {
  background-image: url("./assets/images/silent-planet-earth-crop.jpg");
  background-size: cover;
  background-position: center;
  height: 100px;
}

.icon {
  height:1rem;
  font-size: 3.75em;
  color:azure;
  padding-left: 40px;
  opacity: 80%;
}

.icon:hover{
  opacity: 100%
}